
    <section class="section__demos">
        <div class="card">
            <h2 id="page-title">Project info &amp; contacts</h2>
            <p>
                The myuw-web-components project does not have a formal project structure or members with assigned 
                roles. It is an open source project, always looking for collaborators from within the UW-Madison app development 
                space and beyond. Here you can find contact information for the foremost contributors to the project.
            </p>
            <div class="list-container">
                <ul class="mdl-list list-contacts">
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <a class="mdl-list__item-primary-content" href="https://github.com/thevoiceofzeke" target="_blank">
                            <img class="mdl-list__item-avatar" src="https://github.com/thevoiceofzeke.png?size=200">
                            <span>Zeke Witter</span>
                            <span class="mdl-list__item-text-body">
                                Wannabe product owner, front-end developer for UW-Madison DoIT (ADI-IA)
                            </span>
                        </a>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="mailto:david.witter@wisc.edu"><i class="material-icons">email</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <a href="https://github.com/davidmsibley" target="_blank" class="mdl-list__item-primary-content">
                            <img class="mdl-list__item-avatar" src="https://github.com/davidmsibley.png?size=200">
                            <span>Dave Sibley</span>
                            <span class="mdl-list__item-text-body">
                                Probable tech lead, build-tools guru, full stack developer for UW-Madison DoIT (MyUW)
                            </span>
                        </a>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="mailto:david.sibley@wisc.edu"><i class="material-icons">email</i></a>
                        </span>
                    </li>
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <a href="https://github.com/saberg3" target="_blank" class="mdl-list__item-primary-content">
                            <img class="mdl-list__item-avatar" src="https://github.com/saberg3.png?size=200">
                            <span>Scott Berg</span>
                            <span class="mdl-list__item-text-body">
                                Frequent contributor, front-end developer for UW-Madison DoIT (ADI-IA)
                            </span>
                        </a>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="mailto:scott.berg@wisc.edu"><i class="material-icons">email</i></a>
                        </span>
                    </li>
                </ul>
            </div>
            <p><a href="https://github.com/orgs/myuw-web-components/people" target="_blank">All Github collaborators</a></p>
        </div>
    </section>
