body, html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: $color-gray-lighter;
  font-family: $font-family-text;
  font-size: 16px;
}

myuw-app-bar {
  --myuw-app-bar-font: 'Verlag';
}
p, ul, ol {
  font-size: 16px;
}

a {
  color: inherit;
  font-weight: inherit;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.font__small {
  font-size: 14px;
}

.mdl-button--icon {
  height: 42px;
  width: 42px;
  min-width: 42px;
}

.title {
  &.row {
    justify-content: space-between;
  }

  .title__actions {
    button {
      margin: 6px;
    }
  }
}

.card {
  padding: 16px 36px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  background: #fafafa;
  color: #222;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  margin-bottom: 24px;

  code.prettyprint {
    overflow-x: scroll;
    padding: 1rem;
    font-size: 14px;
  }
}

/***************\
  Layout Styles
\***************/
section {
  width: 100%;
  margin: 0 auto;

  &.section__demos {
    li {
      margin-bottom: 12px;
    }
  }

  &.section__usage {
    li {
      font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: $x-sm) {
    width: 95%;
  }

  @media (min-width: $sm) {
    width: 85%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}



