/*********************\
  Custom Modal Styles
\*********************/

.modal {
  display: none;

  &.is-open {
    display: block;
  }

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__container {
      background-color: #fff;
      padding: 30px;
      max-width: 8  00px;
      max-height: 100vh;
      border-radius: 4px;
      overflow-y: auto;
      box-sizing: border-box;

      .modal__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25;
        color: #00449e;
        box-sizing: border-box;
      }

      .modal__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 1.5;
        color: rgba(0,0,0,.8);

        .mdl-textfield.html-textfield {
          width: auto;
        }

        .form-control {
          margin-bottom: 20px;

          &.row {
            justify-content: space-between;
          }

          &.column {
            flex: auto;
            align-content: center;

            input {
              margin-bottom: 8px;
            }
          }
        }

        select {
          height: 36px;
          font-size: 16px;
        }

        .checkbox {
          -webkit-transition: .24s;
          transition: .24s;
          background: transparent;
          width: 20px;
          height: 20px;
          border-width: 2px;
          border-style: solid;
          border-radius: 2px;
          border-color: rgba(0,0,0,0.54);
          margin-right: 12px;
        }

        .helper {
          font-size: 14px;
          color: #777;
          margin: 0 8px;
        }

        #badgeDemo.row {
          align-items: flex-start;
        }

        #badgeDemo .column {
          height: 150px;
          margin-left: 24px;
          padding: 24px;
          border-left: 1px solid $color-gray-light;
          align-items: center;
          flex: 1 auto;
        }
      }

      .modal__btn {
        font-size: .875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: #e6e6e6;
        color: rgba(0,0,0,.8);
        border-radius: .25rem;
        border-style: none;
        border-width: 0;
        cursor: pointer;
        -webkit-appearance: button;
        text-transform: none;
        overflow: visible;
        line-height: 1.15;
        margin: 0;
        will-change: transform;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out,-webkit-transform .25s ease-out;

        &:focus, .modal__btn:hover {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }

        &-primary {
          background-color: #00449e;
          color: #fff;
        }
      }
    }
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal__close {
      background: transparent;
      border: 0;

      &:before { content: "\2715"; }
    }
  }
}

