body {
    margin: 0;
    background: #ccc;
    opacity: 0;
}
p, ul, ol {
    font-size: 16px;
}
a {
    color: inherit;
    font-weight: inherit;
}
h3 {
  font-size: 24px;
}
.font__small {
  font-size: 14px;
}
/* TODO: Update more components to use variables that can be set in theme component (like search field colors/borders) */
.uw-madison-white-theme .card button {
    font-weight: 500;
}

.uw-madison-white-theme .card button:hover {
    background-color: #047aa848;
}
.demo__container a {
    color: var(--myuw-link-color);
}
/* Layout styles */
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title.row {
    justify-content: space-between;
}

.title .title__actions button {
  margin: 6px;
}

.column {
    display: flex;
    flex-direction: column;
}

.helper {
    font-size: 14px;
    color: #777;
    margin: 0 8px;
}

.mdl-data-table {
  width: 100%;
  font-size: 16px;
}

.mdl-data-table tr {
    cursor: pointer;
}

.badge__new-release {
  font-size: 12px;
  color: rgba(0,0,0,0.54); 
}

.badge__new-release .material-icons {
  vertical-align: middle;
  color: #0679a8;
  font-size: 24px;
}

.mdl-textfield.html-textfield {
  width: auto;
}

section {
    width: 100%;
    margin: 0 auto;
}

.demo__container ol {
    font-size: 16px;
}

.section__demos li {
    margin-bottom: 12px;
}

.section__usage li {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.demo__container {
    margin: 0;
}

.demo__container button.mdl-button {
    text-transform: none;
    background: transparent;
    color: var(--myuw-accent-bg);
}
.demo__container button.mdl-button.mdl-button--raised {
    text-transform: none;
    background: var(--myuw-accent-bg);
    color: var(--myuw-accent-color);
}
.demo__container button.mdl-button.mdl-button--fab {
    background: var(--myuw-accent-bg);
    color: var(--myuw-accent-color);
}

.demo__container button.icon-button {
    color: #046085;
    background: transparent;
    border-radius: 50%;
    height: 48px;
    max-height: 48px;
    width: 48px;
    border: none;
    outline: none;
    cursor: pointer;
}
.demo__container button.icon-button:hover {
    background: rgba(0,0,0,0.12);
}
.mdl-button--icon {
    height: 42px;
    width: 42px;
    min-width: 42px;
}
.card {
    padding: 16px 36px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    background: #fafafa;
    color: #222;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-bottom: 24px;
}
.card code.prettyprint {
    overflow-x: scroll;
    padding: 1rem;
    font-size: 14px;
}
.grid__contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
a.grid__contributors--entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px;
}
a.grid__contributors--entry img {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}
.interactive .form-control {
    margin-bottom: 20px;
}
.interactive .form-control.row {
    justify-content: space-between;
}
.interactive .form-control.column {
    flex: auto;
    align-content: center;
}
.interactive .form-control.column input {
    margin-bottom: 8px;
}
.interactive select {
    height: 36px;
    font-size: 16px;
}
.interactive .checkbox {
    -webkit-transition: .24s;
    transition: .24s;
    background: transparent;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0,0,0,0.54);
    margin-right: 12px;
}

@media (max-width: 600px) {
  .mdl-data-table {
    table-layout:fixed;
  }
  .mdl-data-table td {
    overflow-x: hidden;
  }
}
@media (min-width: 680px) {
  section {
    width: 95%;
  }
  div.demo__container {
    margin: 24px 0;
  }
}
@media (min-width: 960px) {
  section {
    width: 85%;
  }
}
/* CONTACTS page */
.mdl-list.list-contacts {
    max-width: 700px;
}