body {
    margin: 0;
    background: #ccc;
}
p, ul, ol {
    font-size: 16px;
}
a {
    color: inherit;
    font-weight: inherit;
}
/* TODO: Update more components to use variables that can be set in theme component (like search field colors/borders) */
.uw-madison-white-theme .card button {
    font-weight: 500;
}

.uw-madison-white-theme .card button:hover {
    background-color: #047aa848;
}
.demo__container a {
    color: var(--myuw-link-color);
}
/* Layout styles */
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title.row {
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.helper {
    font-size: 14px;
    color: #777;
    margin: 0 8px;
}

.mdl-data-table {
    width: 100%;
    font-size: 16px;
}

.mdl-data-table tr {
    cursor: pointer;
}

section {
    width: 100%;
    margin: 0 auto;
}

.demo__container ol {
    font-size: 16px;
}

.section__demos li {
    margin-bottom: 12px;
}

.section__usage li {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.demo__container {
    margin: 18px 36px;
}
.demo__container button.mdl-button,
dialog button.mdl-button {
    text-transform: none;
    background: transparent;
    color: var(--myuw-accent-bg);
}
.demo__container button.mdl-button.mdl-button--raised,
dialog button.mdl-button.mdl-button--raised {
    text-transform: none;
    background: var(--myuw-accent-bg);
    color: var(--myuw-accent-color);
}
.demo__container button.mdl-button.mdl-button--fab {
    background: var(--myuw-accent-bg);
    color: var(--myuw-accent-color);
}
dialog button.mdl-button.mdl-button--raised:hover,
dialog button.mdl-button.mdl-button--raised:focus:not(:active) {
    background: #046085;
}
.demo__container button.icon-button,
dialog button.icon-button {
    color: #046085;
    background: transparent;
    border-radius: 50%;
    height: 48px;
    max-height: 48px;
    width: 48px;
    border: none;
    outline: none;
    cursor: pointer;
}
.demo__container button.icon-button:hover,
dialog button.icon-button:hover {
    background: rgba(0,0,0,0.12);
}
dialog button.icon-button:focus {
    outline: none;
}
.mdl-button--icon {
    height: 42px;
    width: 42px;
    min-width: 42px;
}
.card {
    padding: 16px 36px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    background: #fafafa;
    color: #222;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin-bottom: 24px;
}
.card code.prettyprint {
    overflow-x: scroll;
    padding: 1rem;
    font-size: 14px;
}
.interactive .form-control {
    margin-bottom: 20px;
}
.interactive .form-control.row {
    justify-content: space-between;
}
.interactive .form-control.column {
    flex: auto;
    align-content: center;
}
.interactive .form-control.column input {
    margin-bottom: 8px;
}
.interactive select {
    height: 36px;
    font-size: 16px;
}
.dialog-title {
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.dialog-item h3 {
    font-size: 24px;
    margin-bottom: 8px;
}
dialog.mdl-dialog {
    width: 100%;
    border-radius: 3px;
}
dialog .mdl-textfield {
    margin-right: 12px;
}
dialog h4 {
    margin-bottom: 0;
}
.mdl-dialog__actions {
    align-items: center;
}
.mdl-dialog__actions>* {
    height: auto;
}
@media (min-width: 600px) {
    dialog.mdl-dialog {
        width: 80%;
    }
    section {
        width: 85%;
    }
}
@media (min-width: 1260px) {
    dialog.mdl-dialog {
        width: 60%;
    }
    .grid-item {
        flex: 1 1 45%;
        max-width: 45%;
    }
}
/* CONTACTS page */
.mdl-list.list-contacts {
    max-width: 700px;
}